.magic > div:nth-last-child(4n+1):first-child ~ div:last-child {
  width: 33.33333%;
  height: 500px; }

.magic > div:nth-last-child(4n+2):first-child ~ div:last-child {
  width: 33.33333%;
  height: 250px;
  margin-left: -33.33333%;
  margin-top: 250px; }

.magic > div:nth-last-child(4n+2):first-child ~ div:nth-last-child(2) {
  width: 33.33333%;
  height: 250px; }

.magic > div:nth-last-child(4n+3):first-child ~ div:nth-last-child(3) {
  width: 33.33333%;
  height: 500px; }

.magic > div:nth-last-child(4n+3):first-child ~ div:nth-last-child(2) {
  width: 33.33333%;
  height: 250px; }

.magic > div:nth-last-child(4n+3):first-child ~ div:last-child {
  width: 33.33333%;
  height: 250px;
  margin-left: -33.33333%;
  margin-top: 250px; }

.magic > div:nth-last-child(4n+4):first-child ~ div:nth-last-child(4) {
  width: 33.33333%;
  height: 500px; }

.magic > div:nth-last-child(4n+4):first-child ~ div:nth-last-child(3) {
  width: 66.66667%;
  height: 250px; }

.magic > div:nth-last-child(4n+4):first-child ~ div:nth-last-child(2) {
  width: 33.33333%;
  height: 250px;
  margin-left: -66.66667%;
  margin-top: 250px; }

.magic > div:nth-last-child(4n+4):first-child ~ div:last-child {
  width: 33.33333%;
  height: 250px;
  margin-top: 250px; }

.magic > div:nth-child(4n+1) {
  width: 33.33333%;
  height: 500px; }

.magic > div:nth-child(4n+2) {
  width: 66.66667%;
  height: 250px; }

.magic > div:nth-child(4n+3) {
  width: 33.33333%;
  height: 250px;
  margin-left: -66.66667%;
  margin-top: 250px; }

.magic > div:nth-child(4n+4) {
  width: 33.33333%;
  height: 250px;
  margin-top: 250px; }

.magic {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  flex-shrink: 0;
  position: relative;
  overflow-x: auto; }
  .magic > div {
    display: flex;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-shrink: 0; }
