$content_width: 100% !default;
$content_height: 100% !default;

$content_width_media: ($content_width /2);

$b_width: ($content_width /3);
$b_height: ($content_height /2);

$media_phone_enable: true; //true or false



.magic {
  width: $content_width;
  flex-basis: $content_width;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  flex-shrink: 0;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  min-height: 2em;

  & > div {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

}

//mixin
@import 'scss/magic/mixin-flex';
@import 'scss/magic/media_pad'; // media Pad
@import 'scss/magic/media_phone'; // media Phone if you want

@import 'scss/magic/count'; // last blocks
@import 'scss/magic/count-all'; // all blocks
