$phone: 576px !default;
$block_width_phone: 100% !default;
$min-height_phone: 30vh; //work in safari only 10+, ie 11+

@if($media_phone_enable){
  @media screen and (max-width: $phone) {
    .magic {
      height: auto;
      display: block;

      & > div {
        width: $block_width_phone !important;
        flex-basis: $block_width_phone !important;
        margin: 0!important;
        min-height: $min-height_phone;
      }
    }
  }
}

// all_block
@mixin block_media_phone {
  @if($media_phone_enable){
    @media screen and (max-width: $phone) {
      height: auto;
    }
  }
}
