// X00
// X00
// left vertical block
@mixin left_block {
  &:before{content:'|';}
  background-color: brown;
  width: 2em;
  height: 4em;
}

// 0XX
// 000
// top horizontal block
@mixin top_block {
  &:before{content:'--';}
  background-color: yellow;
  width: 4em;
  height: 2em;
}

// 000
// 0X0
// left bottom square block
@mixin sql_block {
  &:before{content:'ol';}
  background-color: cyan;
  width: 2em;
  height: 2em;
}


// 000
// 00x
// right bottom square block
@mixin sqr_block {
  &:before{content:'or';}
  background-color: cyan;
  width: 2em;
  height: 2em;
}


// 00x
// 000
// left top square block
@mixin sqt_block {
  &:before{content:'ot';}
  background-color: cyan;
  width: 2em;
  height: 2em;
}

// XXX
// XXX
// no used
// @mixin full_block {
//   &:before{content:'o';}
//   background-color: #ccc;
//   width: 4em;
//   height: 4em;
// }
