// X00
// X00
// left vertical block
@mixin left_block {
  width: $b_width;
  flex-basis: $b_width;
  height: ($b_height *2);
  @media screen and (max-width: 750px) {
    width: $content_width_media;
    height: $content_height_media;
  }
}
@mixin left_block_media {
  @media screen and (max-width: 750px) {
    width: ($content_width_media *2);
    height: ($content_height_media /2);
  }
}
@mixin left_block_media_fix {
  @media screen and (max-width: 750px) {
    margin-left: -$content_width_media;
  }
}
@mixin left_block_media_fix_first {
  @media screen and (max-width: 750px) {
    margin-left: 0!important;
  }
}

// 0XX
// 000
// top horizontal block
@mixin top_block {
  width: ($b_width *2);
  flex-basis: ($b_width *2);
  height: $b_height;
  @media screen and (max-width: 750px) {
    width: $content_width_media;
    height: $content_height_media;
    margin-top: ($content_height_media /2);
  }
}

// 000
// 0X0
// left bottom square block
@mixin sql_block {
  width: $b_width;
  flex-basis: $b_width;
  height: $b_height;
  margin-left: -($b_width *2);
  // margin-top: $b_height;
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
  @media screen and (max-width: 750px) {
    width: $content_width_media;
    height: ($content_height_media /2);
    margin: 0;
    margin-left: $content_width_media;
    margin-top: -($content_height_media *3 /2);
  }
}
@mixin sql_block_fix {
  @media screen and (max-width: 750px) {
    margin-left: -$content_width_media;
  }
}


// 000
// 00x
// right bottom square block
@mixin sqr_block {
  width: $b_width;
  flex-basis: $b_width;
  height: $b_height;
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
  @media screen and (max-width: 750px) {
    width: $content_width_media;
    height: ($content_height_media /2);
    margin-top: -($content_height_media /2);;
  }
}


// x  or 0x
// 0     00
// left top square block
@mixin sqt_block {
  width: $b_width;
  flex-basis: $b_width;
  height: $b_height;
  @media screen and (max-width: 750px) {
    width: $content_width_media;
    height: ($content_height_media /2);
    margin-left: -$content_width_media;
  }
}
@mixin sqt_block_fix {
  @media screen and (max-width: 750px) {
    margin-left: -($content_width_media *2);
  }
}

// 0  or 00
// x     0x
// left top square block
@mixin sqb_block {
  width: $b_width;
  flex-basis: $b_width;
  height: $b_height;
  margin-left: -$b_width;
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  transform: translateY(100%);
  // margin-top: $b_height;
  @media screen and (max-width: 750px) {
    width: $content_width_media;
    height: ($content_height_media /2);
    margin: 0;
  }
}
@mixin sqb_block_fix {
  @media screen and (max-width: 750px) {
    margin-top: ($content_height_media /2);
  }
}
