// X00
// X00
@mixin left_block {
  &:before{content:'|';}
  background-color: brown;
  width: 2em;
  height: 4em;
}

// 0XX
// 000
@mixin top_block {
  &:before{content:'--';}
  background-color: yellow;
  width: 4em;
  height: 2em;
}

// 000
// 0X0
@mixin sq_block {
  &:before{content:'o';}
  background-color: cyan;
  width: 2em;
  height: 2em;
}

// XXX
// XXX
@mixin full_block {
  &:before{content:'o';}
  background-color: #ccc;
  width: 4em;
  height: 4em;
}
